<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Asset Inventory</div>

<%= render 'list' %>

</div>

<div class="row">
 <div class="col-md-1">
 </div>
 <div class="col-md-2">
        <a href="/boxdetails/new"><button type="button" class="btn">Add a new Asset</button></a>
 </div>
</div>

