<div id="help3" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h4>Deleting an asset</h4><br>
      <p>Clicking on the 'Delete' link against the displayed record, prompts a confirmation dialog, after which the record is deleted.</p>
      <p>Select 'Cancel' if you do not want to delete the record.</p>
      <p>Once a record has been deleted, there is no way to restore the same. Please use caution while editing/deleting drop-down data records.</p>
      <p>Clicking on the 'Delete' link against the displayed record, prompts a confirmation dialog, after which the record is deleted.</p>
      <p>Select 'Cancel' if you do not want to delete the record.</p>
      <p>Once a record has been deleted, there is no way to restore the same. Please use caution while editing/deleting drop-down data records.</p>
      <p>Clicking on the 'Delete' link against the displayed record, prompts a confirmation dialog, after which the record is deleted.</p>
      <p>Select 'Cancel' if you do not want to delete the record.</p>
      <p>Once a record has been deleted, there is no way to restore the same. Please use caution while editing/deleting drop-down data records.</p>
      <p>Clicking on the 'Delete' link against the displayed record, prompts a confirmation dialog, after which the record is deleted.</p>
      <p>Select 'Cancel' if you do not want to delete the record.</p>
      <p>Once a record has been deleted, there is no way to restore the same. Please use caution while editing/deleting drop-down data records.</p>
      <p>Clicking on the 'Delete' link against the displayed record, prompts a confirmation dialog, after which the record is deleted.</p>
      <p>Select 'Cancel' if you do not want to delete the record.</p>
      <p>Once a record has been deleted, there is no way to restore the same. Please use caution while editing/deleting drop-down data records.</p>
      <p>Clicking on the 'Delete' link against the displayed record, prompts a confirmation dialog, after which the record is deleted.</p>
      <p>Select 'Cancel' if you do not want to delete the record.</p>
      <p>Once a record has been deleted, there is no way to restore the same. Please use caution while editing/deleting drop-down data records.</p>
      <br><a href="#help0"><button class="btn btn-default btn-sm">Top</button></a>
    </div>
  </div>
</div>

