<div class="modal fade" id="about-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <form class="form-group">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
    	<p>AMS - Asset Management System</p>
    	<p>* AMS is a Centralized Asset and Inventory Management System</p>
    	<p>* Upcoming: Autoscan of subnets</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
     </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="version-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <form class="form-group">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Version 1.2</h4>
	<h5><span class="glyphicon glyphicon-copyright-mark"></span> 03/2016</h5>
      </div>
      <div class="modal-body">
    	<b>What's new</b>
    	<p>* Mockup Stubs for all menu items </p>
    	<p>* Classified content </p>
    	<p>* Modal enabled popups </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
     </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
