
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Operating Systems</div>

<div class="row">
 <div class="col-md-1">
 </div>
 <div class="col-xs-4">
  <table class="table">
   	<th>Name</th>
	<th>Created</th>
	<th colspan="2"></th>
    <% @operatingsystems.each do |os| %>
	<tr>
	  <td><%= os.name %></td>
	  <td><%= time_ago_in_words os.created_at %> ago</td>
	  <td>
		<%= link_to edit_operatingsystem_path(os.id), class: "link-to-text-color" do %>
		<span class="glyphicon glyphicon-pencil"></span>
                <% end %>
	  </td>
	  <td>
		<%= link_to os, method: :delete, data: { confirm: "Are you sure?" }, class: "link-to-text-color" do %>
		<span class="glyphicon glyphicon-trash"></span>
                <% end %>
	  </td>
	</tr>
    <% end %>
  </table>
 </div>
</div>

</div>

<div class="row">
 <div class="col-md-1">
 </div>
 <div class="col-md-2">
	<a href="/operatingsystems/new"><button type="button" class="btn">Add a new OS </button></a>
 </div>
</div>
